<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>
<%= form_with(model: bug, url: url , html: { multipart: true } , local: true) do |form| %>
	<% if bug.errors.any? %>
	  <div id="error_explanation">
	      <h2><%= pluralize(bug.errors.count, "error") %> prohibited this project from being saved:</h2>
			<ul>
	      <% bug.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
      	<% end %>
      </ul>
    </div>
	<% end %>
	<div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div clas="field">
  	<%= form.label :deadline %>
  	<%= form.date_field :deadline , min: Date.today %>
  </div>
  <div>
 		<%= form.label :type %>
   	<%= form.select :bugtype , ['bug','feature'] %>
  </div>
  <br>
  <% if @bug.avatar.present? %>
	  	<%= image_tag @bug.avatar.url(:medium) %>
	  	<br>
	  	<strong> Browse to Change</strong>
  	<% else %>
  		<%= form.label :Screenshot %>
  <% end %>
	<div>
	  <%= form.file_field :avatar %>
	</div>
  <%= form.hidden_field :status , value: "new" %>
  <%= form.hidden_field :user_id , value: current_user.id %>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>