<% flash.each do |key, value| %>
	<%= content_tag :div, value, class: "flash #{key}" %>
<% end %>
<p>
	<strong>Title:</strong>
	<%= @bug.title %>
</p>
<p>
	<strong>Deadline:</strong>
	<%= @bug.deadline %>
</p>
<p>
	<strong>Type:</strong>
	<%= @bug.bugtype %>
</p>
<p>
	<strong>Status:</strong>

</p>
<p>
	<strong>User:</strong>
	<%= @user.name %>
</p>
<p>
	<strong>Developer</strong>
	<% if @developer %>
		<%= @developer.name %>
	<% else %>
		No developer added.
	<% end %>
</p>
<p>
	<%= image_tag @bug.avatar.url(:medium) %>
</p>
<%= link_to "Edit" , edit_bug_path(@bug) %>
<%= link_to "Back", project_bugs_path(@bug.project_id) %>